[submodule "CSXCAD"]
	path = CSXCAD
	url = ../CSXCAD.git
[submodule "QCSXCAD"]
	path = QCSXCAD
	url = ../QCSXCAD.git
[submodule "AppCSXCAD"]
	path = AppCSXCAD
	url = ../AppCSXCAD.git
[submodule "openEMS"]
	path = openEMS
	url = ../openEMS.git
[submodule "fparser"]
	path = fparser
	url = ../fparser.git
[submodule "hyp2mat"]
	path = hyp2mat
	url = https://github.com/koendv/hyp2mat.git
[submodule "CTB"]
	path = CTB
	url = ../CTB.git
